header {
	display: flex;
	flex-direction: row;
}
.logo {
	margin: 1rem;
}

.navbar{
	/*flexbox*/
	display:flex; /*adds flexbox functionality*/
	flex-direction: row; /*makes the direction horizontal*/
	align-items: center; /*makes the items centered*/
	justify-content: center; /*makes the content centered*/
	/*flexbox responsiveness tweaks*/
	/*cause weird wrapping but still responsive*/
	flex-wrap: wrap;
	min-width: 100px;
	/*outline*/
	border: solid; /*adds an outline to the outer box*/
	border-radius: 10px; /*determines the radius of the border*/
	padding: 5px; /*adds padding*/
	border-radius: 25px; /*rounded corners*/
	margin: auto; /*centeres the navbar*/
	flex-grow: 50;
}
.navbutton{ /*buttons in the navigation bar*/
	border: none; /*remove border*/
	background: none; /*remove background*/
	margin-left: 5vh; /*adds distance between the buttons*/
}

.main{
	/*flexbox*/
	display:flex; /*adds flexbox functionality*/
	flex-direction: row; /*makes the direction horizontal*/
	align-items: center; /*makes the items centered*/
	justify-content: center; /*makes the content centered*/
	/*flexbox responsiveness tweaks*/
	/*cause weird wrapping but still responsive*/
	flex-wrap: wrap;
	min-width: 100px;
	/*stretch to page size*/
	height: 95vh; /*increases the size of the flexbox to fill the page*/
	align-items: stretch; /*needed to make the flexbox stretch*/

}
.sidebar{
	border-right: solid;  /*left border to separate content*/
	flex-grow: 1; /*add size to the flex box so it can be controlled*/
}.sidebutton{ /*buttons in the navigation bar*/
	border: none; /*remove border*/
	background: none; /*remove background*/
}
.content-box{
	flex-grow: 50; /*makes the flexbox bigger*/
}
.texticon { /*for icons that are characters, characters are used as opposed to an image to reduce file size*/
	font-size: 50px; /*sets the font size to make the text button as big as other icons*/
	color: black; /*sets the colour of the text as black as by default it is black-grayish*/
}


@media screen and (max-width: 1000px) {
	header	{
		max-width: 100%; /*makes the navbar full size when the screen gets smaller*/
	}
}
