header {
	display: flex; /*makes the whole header a flex box*/
	flex-direction: row; /*makes the direction of the flex box to be horizontal*/
}
.logo {
	margin: 1rem /*top margin*/ 3rem /*right margin*/ 1rem /*bottom margin*/ 3rem; /*left margin*/
}

.navbar{
	/*flex box*/
	display:flex; /*adds flex box functionality*/
	flex-direction: row; /*makes the direction horizontal*/
	align-items: center; /*makes the items centered*/
	justify-content: center; /*makes the content centered*/
	/*flex box responsiveness tweaks*/
	/*cause weird wrapping but still responsive*/
	flex-wrap: wrap;
	min-width: 100px;
	/*outline*/
	border: solid; /*adds an outline to the outer box*/
	border-radius: 10px; /*determines the radius of the border*/
	padding: 5px; /*adds padding*/
	border-radius: 25px; /*rounded corners*/
	margin: auto; /*centres the navigation bar*/
	flex-grow: 50;
}
.navbutton{ /*buttons in the navigation bar*/
	border: none; /*remove border*/
	background: none; /*remove background*/
	margin-left: 5vh; /*adds distance between the buttons*/
}

.main{
	/*flex box*/
	display:flex; /*adds flex box functionality*/
	flex-direction: row; /*makes the direction horizontal*/
	align-items: center; /*makes the items centered*/
	justify-content: center; /*makes the content centered*/
	/*flex box responsiveness tweaks*/
	/*cause weird wrapping but still responsive*/
	flex-wrap: wrap;
	min-width: 100px;
	/*stretch to page size*/
	height: 95vh; /*increases the size of the flex box to fill the page*/
	align-items: stretch; /*needed to make the flex box stretch*/

}
.sidebar{
	border-right: solid;  /*left border to separate content*/
	flex-grow: 1; /*add size to the flex box so it can be controlled*/
	text-align: center; /*aligns the text and icons to the center*/
}
.sidebutton{ /*buttons in the navigation bar*/
	border: none; /*remove border*/
	background: none; /*remove background*/
}
.content-box{
	flex-grow: 50; /*makes the flex box bigger*/
}
.texticon { /*for icons that are characters, characters are used as opposed to an image to reduce file size*/
	font-size: 50px; /*sets the font size to make the text button as big as other icons*/
	color: black; /*sets the colour of the text as black as by default it is black-grayish*/
}
.vertical_space {
	margin-bottom: 5rem; /*adds space at the bottom of the placeholder element*/
}
.horizontal_space {
	margin-right: 5rem; /*adds space at the right right right of the placeholder element*/
}

@media screen and (max-width: 1000px) { /*media query to do actions once the screen is thinner than 1000 pixels*/
	header	{
		max-width: 100%; /*makes the navigation bar full size when the screen gets smaller*/
	}

	.vertical_space {
		margin-bottom: 0; /*removes space at the bottom of the placeholder*/
	}
	.horizontal_space {
		margin-right: 0; /*removes space at the right of the placeholder*/
	}
}
